<div class="container mt-5">

<h1>Explore the universe...</h1>

<%= form_tag planets_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Exploration Keyword"
  %>
  <!-- TODO change this button to something better -->
  <%= submit_tag "Explore", class: "btn btn-primary" %>
<% end %>

<div class="planet-grid">
<% @planets.each do |planet| %>
  <%= link_to planet_path(planet) do %>
  <div class="card-planet">
    <%= cl_image_tag planet.photos.first.key, height: 300, width: 400, crop: :fill %>

    <div class="card-planet-infos">
      <div class="card-planet-infos-text">
        <h2> <%= planet.name %></h2>
        <p><%= planet.longitude %> <%= planet.latitude %></p>
        <div class="card-planet-infos-icons">
          <i class="fab fa-reddit-alien"></i><span><%= planet.capacity %></span>
          <% planet.environments.each do |env| %>
            <i class="<%= env.icon %>"></i>
          <% end %>
        </div>
        </div>

        <div class="card-planet-infos-price">
          <p>Rate:</p>
          <div class="card-planet-pricing">
            <p><%= planet.rate %></p>
          </div>
        </div>

    </div>

  </div>
  <% end %>

  <% end %>
</div>
</div>






