<h1>Show Page</h1>

<%= @planet.name %>, Capacity: <%= @planet.capacity %>, Rate: $<%= @planet.rate %>/ week
<%= link_to "Edit", edit_planet_path %> <%= link_to "Delete", planet_path, method: "DELETE", data: { confirm: "Are You Sure You Want to Destroy #{@planet.name}?"} %>
<%= link_to "Book!", new_planet_booking_path(@planet) %>
