<div class="container mt-5">
  <h1>Kia ora <%= current_user.nickname %> !</h1>
  <!-- code for overlord dashboard -->
  <% if current_user.overlord? %>
    <h2>Requests</h2>
    <!-- booking code -->
    <% @bookings.each do |booking| %>
      <% unless booking.completed? %>
         <div class="trip-card">
            <div class="trip-notif">
               <% if booking.user.avatar.attached? %>
                 <%= cl_image_tag booking.user.avatar.key, class: "avatar" %>
               <% else %>
                 <%= image_tag "no-profile.png", class: "avatar" %>
               <% end %>
               <p><%= booking.user.first_name %> sent you a request</p>
            </div>
            <div class="trip-details">
                <%= cl_image_tag booking.planet.photos.first.key %>
              <div class="trip-info">
                <div class="trip-header">
                  <h2><%= booking.planet.name %></h2>
                  <p>Long: <%= booking.planet.longitude %> Lat: <%= booking.planet.latitude %></p>
                </div>
                <div class="trip-booking-info">
                  <div class="trip-icons">
                    <i class="fab fa-reddit-alien"></i> <span> <%= booking.planet.capacity %></span>
                    <% booking.planet.environments.each do |env| %>
                      <i class="<%= env.icon %>"></i>
                    <% end %>
                  </div>
                  <div class="trip-price">
                    <p>Total</p>
                    <p><%= booking.cost %> <i class="fab fa-gitkraken"></i></p>
                  </div>
                </div>
              </div>
          </div>
          <div class="request-status">
           <% if !booking.approved? && !booking.completed? %>
                <%= link_to approve_booking_path(booking),method: :patch, class: "btn-approve" do %>
                <i class="far fa-check-circle"></i> Accept
                <% end %>
                <%= link_to reject_booking_path(booking),method: :patch, class: "btn-reject" do%>
                <i class="fas fa-times"></i> Reject
                <% end %>
            <% elsif !booking.completed? %>
              <p><strong>Status:</strong> Upcoming trip for <%= booking.planet.name %>!</p>
          <% end %>
          </div>
          </div>
      <% end %>
    <% end %>
    <!-- end - booking code - overlord -->

    <!-- overlord-my-planet code -->
    <h2>My planets</h2>
      <div class="my-planet-grid">
        <% current_user.planets.each do |planet| %>
          <div class="my-planet-card">
              <%= link_to edit_planet_path(planet), class: "edit-icon", title: "Terraform" do %>
                <i class="fas fa-drafting-compass"></i>
              <% end %>
              <%= link_to planet_path(planet), method: :delete, class: "destroy-icon", title: "Annihilate" do %>
                <i class="fas fa-bomb"></i>
              <% end %>
              <%= cl_image_tag planet.photos.first.key, height: 300, width: 400, crop: :fill %>
              <div class="my-planet-infos">
                <div class="card-planet-infos-text">
                  <h2><%= planet.name %></h2>
                  <p><%= planet.longitude %> <%= planet.latitude %></p>
                    <div class="my-planet-icons">
                      <p><i class="fab fa-reddit-alien"></i><%= planet.capacity %></p>
                      <% planet.environments.each do |env| %>
                        <p><i class="<%= env.icon %>"></i></p>
                      <% end %>
                    </div>
                </div>
                <span><p>Rate:</p><h2 class="my-planet-pricing"> <%= planet.rate %> <i class="fab fa-gitkraken"></i></h2></span>
              </div>
          </div>
        <% end %>
      </div>
    <!-- overlord-my-planet code -->
  <% end %>
  <!-- end of overlord dashboard -->

<!-- code for traveller -->
  <% if current_user.traveller? %>
  <h2>My Trips</h2>
    <% @bookings.each do |booking| %>
      <% unless booking.completed? %>
         <div class="trip-card">
            <div class="trip-notif">
               <% if current_user.avatar.attached? %>
                 <%= cl_image_tag booking.planet.user.avatar.key, class: "avatar" %>
               <% else %>
                 <%= image_tag "no-profile.png", class: "avatar" %>
               <% end %>
               <p>Request sent to <%= booking.planet.user.first_name %></p>
            </div>
             <div class="trip-details">
                 <%= cl_image_tag booking.planet.photos.first.key %>
               <div class="trip-info">
                 <div class="trip-header">
                   <h2><%= booking.planet.name %></h2>
                   <p>Long: <%= booking.planet.longitude %> Lat: <%= booking.planet.latitude %></p>
                 </div>
                 <div class="trip-booking-info">
                     <div class="trip-icons">
                       <i class="fab fa-reddit-alien"></i> <span> <%= booking.planet.capacity %></span>
                       <% booking.planet.environments.each do |env| %>
                         <i class="<%= env.icon %>"></i>
                       <% end %>
                     </div>
                     <div class="trip-price">
                       <p>Total</p>
                       <p><%= booking.cost %> <i class="fab fa-gitkraken"></i></p>
                     </div>
                 </div>
               </div>
             </div>

               <div class="request-status">
                <% if !booking.approved? && !booking.completed? %>
                 <p><strong>Status:</strong> pending...</p>
                 <% elsif !booking.approved? && booking.completed? %>
                 <p><strong>Status:</strong> Sorry, your trip was rejected !</p>
                 <% elsif booking.approved? && !booking.completed? %>
                 <p><strong>Status:</strong> Your trip was accepted !</p>
                 <% end %>
               </div>
         </div>
       <% end %>
    <% end %>
       <!-- explore the universe -->
       <div class="header-explore"><h2>Keep exploring</h2>
        <%= link_to 'more', planets_path, class: "ghost" %>
       </div>

       <div class="planet-grid">
         <% @planets.take(5).each do |planet| %>
           <%= link_to planet_path(planet) do %>
            <div class="my-planet-card">
               <%= cl_image_tag planet.photos.first.key, height: 300, width: 400, crop: :fill %>
               <div class="my-planet-infos">
                 <div class="card-planet-infos-text">
                   <h2> <%= planet.name %></h2>
                   <p><%= planet.longitude %> <%= planet.latitude %></p>
                   <div class="card-planet-infos-icons">
                     <i class="fab fa-reddit-alien"></i><span><%= planet.capacity %></span>
                     <% planet.environments.each do |env| %>
                       <i class="<%= env.icon %>"></i>
                     <% end %>
                   </div>
                 </div>
                 <div class="card-planet-infos-price">
                   <p>Rate:</p>
                   <div class="card-planet-pricing">
                     <p><%= planet.rate %> <i class="fab fa-gitkraken"></i></p>
                   </div>
                 </div>
               </div>
             </div>
           <% end %>
         <% end %>
       </div>
    <% end %>
</div>





