<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stellactica</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag asset_path('user-astronaut-solid.ico') %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%#= yield %>

    <div id="map" class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" style="position: relative; outline: currentcolor none medium;" tabindex="0">
      <div class="leaflet-pane leaflet-map-pane" style="transform: translate3d(0px, 8px, 0px);">
        <div class="leaflet-pane leaflet-tile-pane">
        </div>
        <div class="leaflet-pane leaflet-shadow-pane">
        </div>
        <div class="leaflet-pane leaflet-overlay-pane">
          <img class="leaflet-image-layer leaflet-zoom-animated" style="z-index: 1; transform: translate3d(-200px, -300px, 0px); width: 1000px; height: 1000px;" src="uqm_map_full.png" alt="">
        </div>
        <div class="leaflet-pane leaflet-marker-pane">
        </div>
        <div class="leaflet-pane leaflet-tooltip-pane">
        </div>
        <div class="leaflet-pane leaflet-popup-pane">
        </div>
        <div class="leaflet-proxy leaflet-zoom-animated" style="transform: translate3d(500px, -508px, 0px) scale(0.5);">
        </div>
      </div>
      <div class="leaflet-control-container">
        <div class="leaflet-top leaflet-left">
          <div class="leaflet-control-zoom leaflet-bar leaflet-control">
            <a class="leaflet-control-zoom-in" href="#" title="Zoom in" role="button" aria-label="Zoom in">+</a>
            <a class="leaflet-control-zoom-out leaflet-disabled" href="#" title="Zoom out" role="button" aria-label="Zoom out">−</a>
          </div>
        </div>
        <div class="leaflet-top leaflet-right">
        </div>
        <div class="leaflet-bottom leaflet-left">
        </div>
        <div class="leaflet-bottom leaflet-right">
          <div class="leaflet-control-attribution leaflet-control">
            <a href="https://leafletjs.com" title="A JS library for interactive maps">Leaflet</a>
          </div>
        </div>
      </div>
    </div>

    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
